Docker/n8n/demo-data/Ingestion.json
{
  "name": "Ingestion",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        688,
        0
      ],
      "id": "34ed49e1-7788-470b-a6e4-3e24328e1951",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "50156f38-7281-4687-8d78-466cbb885feb",
              "name": "baseUrl",
              "value": "https://api.zotero.org",
              "type": "string"
            },
            {
              "id": "b78103d0-9f98-450c-b30e-90c0c951bdc2",
              "name": "apiKey",
              "value": "3VKaGKjrQY46wqTqF5Deuxmc",
              "type": "string"
            },
            {
              "id": "7d680a4b-6455-4940-bbd6-c25552944a32",
              "name": "doclingBaseUrl",
              "value": "http://docling:5001/v1",
              "type": "string"
            },
            {
              "id": "40ee2479-62cf-47ec-b436-b480e291adac",
              "name": "paperCount",
              "value": 1,
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        0
      ],
      "id": "8bf68fbc-fdc1-444f-b7bc-3173a836c1d8",
      "name": "SetConstants"
    },
    {
      "parameters": {
        "url": "={{ $json.baseUrl }}/groups/6357600/items/top",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Zotero-API-Key",
              "value": "={{ $json.apiKey }}"
            },
            {
              "name": "Zotero-API-Version",
              "value": "3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        480,
        0
      ],
      "id": "f6ef21dd-eb4b-4fe8-a322-e402b7e1fb4d",
      "name": "GetZoteroItems"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6821e051-7a2c-42eb-9dff-004510241202",
              "leftValue": "={{ \n  ($json.data.itemType === \"attachment\" && \n   $json.data.contentType === \"application/pdf\") \n  || \n  $json.data.filename?.endsWith(\".pdf\")\n}}",
              "rightValue": "attachment",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        896,
        128
      ],
      "id": "7a5cbc01-68ec-47a7-947b-b47b297cb784",
      "name": "IsPDF?"
    },
    {
      "parameters": {
        "url": "={{ $('SetConstants').item.json.baseUrl }}/groups/6357600/items/{{$json.key}}/children",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=Authorization",
              "value": "=Bearer {{ $('SetConstants').item.json.apiKey }}"
            },
            {
              "name": "Zotero-API-Version",
              "value": "3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1104,
        208
      ],
      "id": "28d750e8-8348-4d6b-b976-76499b17be24",
      "name": "GetPDF"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6821e051-7a2c-42eb-9dff-004510241202",
              "leftValue": "={{ \n  ($json.data.itemType === \"attachment\" && \n   $json.data.contentType === \"application/pdf\") \n  || \n  $json.data.filename?.endsWith(\".pdf\")\n}}",
              "rightValue": "attachment",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1312,
        208
      ],
      "id": "534247d7-8e70-45c6-9896-c3af7f93d1a4",
      "name": "IsPDF"
    },
    {
      "parameters": {
        "url": "={{ $('SetConstants').item.json.baseUrl }}/groups/6357600/items/{{ $json.key }}/file",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('SetConstants').item.json.apiKey }}"
            },
            {
              "name": "Zotero-API-Version",
              "value": "3"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1600,
        192
      ],
      "id": "a79f051c-5e01-4c94-b3c4-659409a9a907",
      "name": "DownloadPDF"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f65b926a-6ae8-49ad-94ec-91e0893404e5",
              "leftValue": "={{ $json.links.enclosure.length }}",
              "rightValue": 2000000,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1840,
        192
      ],
      "id": "99b6c103-8092-4512-9219-bccc0079396c",
      "name": "IsBig?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('SetConstants').item.json.doclingBaseUrl }}/chunk/hybrid/file",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            },
            {
              "name": "chunking_max_tokens",
              "value": "800"
            },
            {
              "name": "chunking_merge_peers",
              "value": "true"
            },
            {
              "name": "chunking_tokenizer",
              "value": "sentence-transformers/all-MiniLM-L6-v2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2256,
        224
      ],
      "id": "8f3ae605-c4d5-460a-9e03-1e9f76572064",
      "name": "GetChunks"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/embeddings",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "nomic-embed-text"
            },
            {
              "name": "prompt",
              "value": "={{ $('Chunks into postgre').item.json.inhalt }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3136,
        1456
      ],
      "id": "4017453e-a8f2-431c-8ca1-99e0406ecf30",
      "name": "Embeddings"
    },
    {
      "parameters": {
        "url": "={{ $('SetConstants').item.json.doclingBaseUrl }}/status/poll/{{$json.task_id}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2464,
        480
      ],
      "id": "ea68184c-9f1f-4977-a499-9ed9080193e6",
      "name": "Polling"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9293b214-2997-439c-8639-ce697c78e0da",
              "leftValue": "={{ [\"success\", \"done\", \"completed\"].includes($json.task_status) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2672,
        480
      ],
      "id": "01537943-f9f1-45aa-85ce-661220bd9f3c",
      "name": "Is done"
    },
    {
      "parameters": {
        "url": "={{ $('SetConstants').item.json.doclingBaseUrl }}/result/{{ $('Polling').item.json.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2992,
        448
      ],
      "id": "e4e914ef-b569-482c-aa5a-6215f0d59d49",
      "name": "Get Result"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6bed4c9a-70c6-4c9c-9b85-c91db60dab91",
              "leftValue": "={{ [\"fail\", \"error\"].includes($json.task_status) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3280,
        656
      ],
      "id": "472162a4-9ae8-4e56-a085-bb612876ba02",
      "name": "Is Error"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3504,
        800
      ],
      "id": "a71ab199-e3db-4641-9afb-8eef2942e883",
      "name": "1m",
      "webhookId": "14bd6179-1cab-4754-97de-fa77f8c20a71"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "chunks",
              "type": "array"
            },
            {
              "name": "doc_name"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        1200,
        1280
      ],
      "id": "a939947d-e57e-4a9e-85ea-bf3675835a5b",
      "name": "Embedding Pipeline"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QrRbDoPV4As6SSlt",
          "mode": "list",
          "cachedResultUrl": "/workflow/QrRbDoPV4As6SSlt",
          "cachedResultName": "Ingestion"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chunks": "={{ $json.chunks }}",
            "doc_name": "={{ $('Loop Over Items').item.json.data.title }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chunks",
              "displayName": "chunks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "doc_name",
              "displayName": "doc_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3248,
        272
      ],
      "id": "36e3a80c-a8a3-4c76-adb5-90b80a7e7801",
      "name": "Start Embedding"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "a60aa8c6-7952-4692-8545-944b5709f7f6",
      "name": "Chunking Pipeline"
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\n\n// set to 0 for first exec\nif (staticData.counter === undefined) {\n  staticData.counter = 0;\n}\n\nstaticData.counter += 1;\n\nreturn [{\n  json: {\n    ...$json,\n    counter: staticData.counter,\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        1280
      ],
      "id": "c04c62c5-ddc0-4c14-b609-fffe1875c6fd",
      "name": "Counter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f8e5d9a0-0c30-4cd3-8bde-63562cb28e19",
              "name": "chunk_id",
              "value": "=paper{{ $('Counter').item.json.counter }}chunk{{ $json.chunk_index }}",
              "type": "string"
            },
            {
              "id": "34b34f60-8573-4708-a453-17ee000f209f",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "b887b862-dd1d-436d-9045-f34f8c20eb8e",
              "name": "doc_name",
              "value": "={{ $('Embedding Pipeline').item.json.doc_name }}",
              "type": "string"
            },
            {
              "id": "47bb2578-39f3-46ad-8be0-12a79a45757b",
              "name": "page_start",
              "value": "={{ $json.page_numbers[0] }}",
              "type": "number"
            },
            {
              "id": "a186699f-be2d-4fa4-93f9-5beaaeb35ad1",
              "name": "page_end",
              "value": "={{ $json.page_numbers[0] + ($json.page_numbers.length -1) }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2288,
        1280
      ],
      "id": "6f16b504-1276-4736-8124-7f35e8c8f146",
      "name": "FormatChunks"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('SetConstants').item.json.doclingBaseUrl }}/chunk/hybrid/file/async",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            },
            {
              "name": "chunking_max_tokens",
              "value": "800"
            },
            {
              "name": "chunking_merge_peers",
              "value": "true"
            },
            {
              "name": "chunking_tokenizer",
              "value": "sentence-transformers/all-MiniLM-L6-v2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2256,
        480
      ],
      "id": "aee8eaba-dbeb-427a-b938-ad5d686df9ee",
      "name": "GetChunksAsync"
    },
    {
      "parameters": {
        "fieldToSplitOut": "chunks",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1968,
        1280
      ],
      "id": "16609b9e-398c-4a5c-9d21-3c44760f4ade",
      "name": "Split Out"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "dokumente_log",
          "mode": "list",
          "cachedResultName": "dokumente_log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "seitestart": "={{ $json.page_start }}",
            "seiteende": "={{ $json.page_end }}",
            "inhalt": "={{ $json.text }}",
            "titel": "={{ $json.doc_name }}",
            "tag": "={{ $json.tag }}",
            "chunkid": "={{ $json.chunk_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "chunkid",
              "displayName": "chunkid",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "titel",
              "displayName": "titel",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "seitestart",
              "displayName": "seitestart",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "seiteende",
              "displayName": "seiteende",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "inhalt",
              "displayName": "inhalt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tag",
              "displayName": "tag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2656,
        1280
      ],
      "id": "f5f68d0e-a9b9-4f8a-8e0b-8d852ecaf9d5",
      "name": "Chunks into postgre",
      "credentials": {
        "postgres": {
          "id": "98VPq0d6rqsBM90z",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2928,
        1280
      ],
      "id": "783c4307-0ccc-4ca8-aefe-3509b7042971",
      "name": "Batches of 3"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "http://qdrant:6333/collections/chunks/points?wait=true",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n  \"points\": [\n    {\n      \"id\": Number($('Chunks into postgre').item.json.id),\n      \"vector\": $json.embedding,\n      \"payload\": { \"chunkid\": $('Batches of 3').item.json.chunkid, \"titel\": $('Batches of 3').item.json.titel, \"seitestart\": $('Batches of 3').item.json.seitestart, \"seiteende\": $('Batches of 3').item.json.seiteende, \"text\": $('Batches of 3').item.json.inhalt, \"tag\": $('Batches of 3').item.json.tag }\n    }\n  ]\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3472,
        1520
      ],
      "id": "12c7b2f9-15a4-4ce8-8dc8-b13909dff837",
      "name": "SaveToQdrant"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3712,
        1616
      ],
      "id": "9cae6bbf-d6d4-491f-8927-4d68e9296012",
      "name": "5s",
      "webhookId": "828f9975-a3bd-4902-acef-1c87497b708c"
    }
  ],
  "pinData": {
    "Embedding Pipeline": [
      {
        "json": {
          "chunks": [
            {
              "filename": "4f50597d9196d2ec435e79767a45cc7e",
              "chunk_index": 11,
              "text": "2 Vorarbeiten  zur Risikoanalyse\nBevor  die  eigentliche  Risikoanalyse  beginnt,  sollten  folgende Vorarbeiten  abgeschlossen  sein,  die  in der  IT -Grundschutz-Methodik  gem/C229ß  BSI-Standard 200-2  beschrieben  sind:\n- Es  muss  ein  systematischer  Informationssicherheitsprozess  initiiert  worden  sein.  Dieser dient  dazu, die Aktivit/C229ten im Bereich der Informationssicherheit strukturiert abzuarbeiten. Beispielsweise m/C231ssen  geeignete  Rollen  und  Aufgaben  definiert  werden.\n- Gem/C229ß  Kapitel  3.3  der  IT -Grundschutz-Methodik  muss  ein  Geltungsbereich  f/C231r  die  Sicherheitskonzeption  definiert  worden  sein.  Dieser  Geltungsbereich  wird im Folgenden  als  Informationsverbund bezeichnet.\n- F/C231r den Informationsverbund sollte eine Strukturanalyse gem/C229ß Kapitel 8.1 der IT -Grundschutz-Methodik  durchgef/C231hrt  worden  sein.  Dadurch werden  die  wichtigsten  Informationen  /C231ber den  Informationsverbund  ermittelt,  z.  B. Gesch/C229ftsprozesse, der Netzplan  sowie  eine  Liste der wichtigsten  Anwendungen  mit  Abh/C229ngigkeit  von  den  IT-Systemen.\n- Anschließend sollte  eine  Schutzbedarfsfeststellung  gem/C229ß  Kapitel  8.2  der  IT -Grundschutz-Methodik  durchgef/C231hrt  worden  sein.  Als  Ergebnis  liegen  der  Schutzbedarf  der  Gesch/C229ftsprozesse,  Anwendungen,  IT-Systeme,  genutzten  R/C229ume  sowie  eine  Liste der  kritischen  Kommunikationsverbindungen  vor.  Der  Schutzbedarf  bezieht  sich  jeweils  auf  die  Grundwerte Vertraulichkeit,  Integrit/C229t und Verf/C231gbarkeit  und  wird nach IT -Grundschutz  normalerweise in  den  Stufen  normal,  hoch  und sehr  hoch  festgelegt.\n- Es  sollte  eine  Modellierung  gem/C229ß  Kapitel  8.3  der  IT -Grundschutz-Methodik  und  Kapitel 2  des IT -Grundschutz-Kompendiums  durchgef/C231hrt  worden  sein.  Dabei  wird f/C231r  jedes  Zielobjekt im  Informationsverbund  festgelegt,  ob  es  passende  IT-Grundschutz-Bausteine  gibt  und  wie  diese  anzuwenden  sind.  Die  in  den  einzelnen  Bausteinen  genannten  Sicherheitsanforderungen  und  die  daraus  abgeleiteten  Sicherheitsmaßnahmen  bilden  die  Basis  f/C231r  das  IT -Grundschutz-Sicherheitskonzept  des  betrachteten  Informationsverbundes.",
              "raw_text": null,
              "num_tokens": 763,
              "headings": [
                "2 Vorarbeiten  zur Risikoanalyse"
              ],
              "captions": null,
              "doc_items": [
                "#/texts/85",
                "#/texts/86",
                "#/texts/87",
                "#/texts/88",
                "#/texts/89",
                "#/texts/90"
              ],
              "page_numbers": [
                9
              ],
              "metadata": {
                "origin": {
                  "mimetype": "application/pdf",
                  "binary_hash": 11223532253920872000,
                  "filename": "4f50597d9196d2ec435e79767a45cc7e",
                  "uri": null
                }
              }
            },
            {
              "filename": "4f50597d9196d2ec435e79767a45cc7e",
              "chunk_index": 12,
              "text": "2 Vorarbeiten  zur Risikoanalyse\n- Es sollte vor der Risikoanalyse ein IT -Grundschutz-Check gem/C229ß Kapitel 8.4 der IT -Grundschutz-Methodik  durchgef/C231hrt  werden.  Dadurch wird festgestellt,  welche  Basis- und  Standard-Sicherheitsanforderungen  f/C231r  den  vorliegenden  Informationsverbund  bereits  erf/C231llt  sind  und  wo noch  Defizite  bestehen.\nAls Ergebnis der Vorarbeiten liegt eine Liste der  Zielobjekte vor, f/C231r die eine  Risikoanalyse durchgef/C231hrt werden  sollte  ('betrachtete  Zielobjekte').  Damit  diese  Aufgabe  mit  vertretbarem  Aufwand  geleistet werden  kann,  ist  es wichtig,  dass  die  Zielobjekte  -  gem/C229ß IT -Grundschutz-Vorgehensweise  -  sinnvoll zu  Gruppen  zusammengefasst  worden  sind.\nFalls  trotz  Gruppenbildung  viele  Zielobjekte  einer  Risikoanalyse  unterzogen  werden  m/C231ssen,  sollte eine  geeignete  Priorisierung  vorgenommen  werden:\n- Falls f/C231r den IT -Grundschutz die Vorgehensweise  'Standard-Absicherung'  gew/C229hlt wurde,  sollten vorrangig  die  /C231bergeordneten  Zielobjekte  bearbeitet  werden  (insbesondere  Gesch/C229ftsprozesse, Teilverb/C231nde  und  gesamter  Informationsverbund).  Aus  diesen  Arbeiten  ergeben  sich  oft  wertvolle Anhaltspunkte  f/C231r  die  Risikoanalysen  der  untergeordneten  technischen  Zielobjekte.\n- Falls f/C231r den IT -Grundschutz die Vorgehensweise 'Kern-Absicherung'  gew/C229hlt wurde,  sollten vorrangig  die  Zielobjekte  mit  dem  h/C230chsten  Schutzbedarf  bearbeitet  werden.\n- Falls  f/C231r  den  IT-Grundschutz  die  Vorgehensweise  'Basis-Absicherung'  gew/C229hlt  wurde,  werden zun/C229chst  keine  Risikoanalysen  durchgef/C231hrt,  sondern  es  werden  als  erstes  nur  die  Basis-Anforderungen  umgesetzt.",
              "raw_text": null,
              "num_tokens": 637,
              "headings": [
                "2 Vorarbeiten  zur Risikoanalyse"
              ],
              "captions": null,
              "doc_items": [
                "#/texts/91",
                "#/texts/92",
                "#/texts/93",
                "#/texts/94",
                "#/texts/95",
                "#/texts/98"
              ],
              "page_numbers": [
                9,
                10
              ],
              "metadata": {
                "origin": {
                  "mimetype": "application/pdf",
                  "binary_hash": 11223532253920872000,
                  "filename": "4f50597d9196d2ec435e79767a45cc7e",
                  "uri": null
                }
              }
            }
          ],
          "docname": "bsi_standard_200_3"
        }
      }
    ]
  },
  "connections": {
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "IsPDF?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetConstants": {
      "main": [
        [
          {
            "node": "GetZoteroItems",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetZoteroItems": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IsPDF?": {
      "main": [
        [
          {
            "node": "DownloadPDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GetPDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetPDF": {
      "main": [
        [
          {
            "node": "IsPDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IsPDF": {
      "main": [
        [
          {
            "node": "DownloadPDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DownloadPDF": {
      "main": [
        [
          {
            "node": "IsBig?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IsBig?": {
      "main": [
        [
          {
            "node": "GetChunksAsync",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GetChunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetChunks": {
      "main": [
        [
          {
            "node": "Start Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings": {
      "main": [
        [
          {
            "node": "SaveToQdrant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Polling": {
      "main": [
        [
          {
            "node": "Is done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is done": {
      "main": [
        [
          {
            "node": "Get Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Result": {
      "main": [
        [
          {
            "node": "Start Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Error": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "1m",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1m": {
      "main": [
        [
          {
            "node": "Polling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embedding Pipeline": {
      "main": [
        [
          {
            "node": "Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Embedding": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunking Pipeline": {
      "main": [
        [
          {
            "node": "SetConstants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Counter": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FormatChunks": {
      "main": [
        [
          {
            "node": "Chunks into postgre",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetChunksAsync": {
      "main": [
        [
          {
            "node": "Polling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "FormatChunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunks into postgre": {
      "main": [
        [
          {
            "node": "Batches of 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batches of 3": {
      "main": [
        [],
        [
          {
            "node": "Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SaveToQdrant": {
      "main": [
        [
          {
            "node": "5s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5s": {
      "main": [
        [
          {
            "node": "Batches of 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "30d81727-1175-4f74-9a27-d0dc94e0eddf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2e5c459191bca6972a6ed06a2c5d41835b85727e5281032a4ad737c853e399fa"
  },
  "id": "QrRbDoPV4As6SSlt",
  "tags": []
}