Docker/n8n/demo-data/Ingestion.json
{
  "name": "Ingestion",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        688,
        0
      ],
      "id": "24012598-dfcd-481c-a0d5-efc424a632ee",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "0625b6d5-ab7f-4391-9995-f81e21f9bc82",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fieldToSplitOut": "chunks",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2544,
        192
      ],
      "id": "0146ef10-29b2-48cb-bfb8-f3129787a5e3",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "50156f38-7281-4687-8d78-466cbb885feb",
              "name": "baseUrl",
              "value": "https://api.zotero.org",
              "type": "string"
            },
            {
              "id": "b78103d0-9f98-450c-b30e-90c0c951bdc2",
              "name": "apiKey",
              "value": "3VKaGKjrQY46wqTqF5Deuxmc",
              "type": "string"
            },
            {
              "id": "7d680a4b-6455-4940-bbd6-c25552944a32",
              "name": "doclingBaseUrl",
              "value": "http://docling:5001/v1",
              "type": "string"
            },
            {
              "id": "40ee2479-62cf-47ec-b436-b480e291adac",
              "name": "paperCount",
              "value": 1,
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        0
      ],
      "id": "c87499f7-332c-4591-9430-df83c55aa2cb",
      "name": "SetConstants"
    },
    {
      "parameters": {
        "url": "={{ $json.baseUrl }}/groups/6357600/items/top",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Zotero-API-Key",
              "value": "={{ $json.apiKey }}"
            },
            {
              "name": "Zotero-API-Version",
              "value": "3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        480,
        0
      ],
      "id": "a6b70be4-d7bf-4fba-8f2d-10acc6a72d7a",
      "name": "GetZoteroItems"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6821e051-7a2c-42eb-9dff-004510241202",
              "leftValue": "={{ \n  ($json.data.itemType === \"attachment\" && \n   $json.data.contentType === \"application/pdf\") \n  || \n  $json.data.filename?.endsWith(\".pdf\")\n}}",
              "rightValue": "attachment",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        896,
        128
      ],
      "id": "702e6784-bae8-4e8e-9a77-d32dbda7876f",
      "name": "IsPDF?"
    },
    {
      "parameters": {
        "url": "={{ $('SetConstants').item.json.baseUrl }}/groups/6357600/items/{{$json.key}}/children",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=Authorization",
              "value": "=Bearer {{ $('SetConstants').item.json.apiKey }}"
            },
            {
              "name": "Zotero-API-Version",
              "value": "3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1104,
        208
      ],
      "id": "e7d2047c-4917-4e65-a4d9-4b76a302f1b2",
      "name": "GetPDF"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6821e051-7a2c-42eb-9dff-004510241202",
              "leftValue": "={{ \n  ($json.data.itemType === \"attachment\" && \n   $json.data.contentType === \"application/pdf\") \n  || \n  $json.data.filename?.endsWith(\".pdf\")\n}}",
              "rightValue": "attachment",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1312,
        208
      ],
      "id": "2ad4e632-3571-4279-85a4-d47686796e77",
      "name": "IsPDF"
    },
    {
      "parameters": {
        "url": "={{ $('SetConstants').item.json.baseUrl }}/groups/6357600/items/{{ $json.key }}/file",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('SetConstants').item.json.apiKey }}"
            },
            {
              "name": "Zotero-API-Version",
              "value": "3"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1600,
        192
      ],
      "id": "eb6b3e5b-2058-48be-8681-e45b76c0e5d2",
      "name": "DownloadPDF"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f65b926a-6ae8-49ad-94ec-91e0893404e5",
              "leftValue": "={{ $json.links.enclosure.length }}",
              "rightValue": 2000000,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1840,
        192
      ],
      "id": "9769962b-7268-41ad-84ad-6b553ab496f5",
      "name": "IsBig?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('SetConstants').item.json.doclingBaseUrl }}/chunk/hybrid/file",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            },
            {
              "name": "chunking_max_tokens",
              "value": "800"
            },
            {
              "name": "chunking_merge_peers",
              "value": "true"
            },
            {
              "name": "chunking_tokenizer",
              "value": "sentence-transformers/all-MiniLM-L6-v2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2256,
        224
      ],
      "id": "f137f6aa-2a0c-4cfa-b5c0-0c1ff50d6587",
      "name": "GetChunks"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f8e5d9a0-0c30-4cd3-8bde-63562cb28e19",
              "name": "chunk_id",
              "value": "=paper{{ $('SetConstants').item.json.paperCount }}chunk{{ $json.chunk_index }}",
              "type": "string"
            },
            {
              "id": "14a5a2f0-3c5b-4836-a4c7-3be442fb591c",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "b887b862-dd1d-436d-9045-f34f8c20eb8e",
              "name": "doc_name",
              "value": "={{ $('GetZoteroItems').item.json.data.title }}",
              "type": "string"
            },
            {
              "id": "47bb2578-39f3-46ad-8be0-12a79a45757b",
              "name": "page_start",
              "value": "={{ $json.page_numbers[0] }}",
              "type": "number"
            },
            {
              "id": "a186699f-be2d-4fa4-93f9-5beaaeb35ad1",
              "name": "page_end",
              "value": "={{ $json.page_numbers[0] + ($json.page_numbers.length -1) }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3024,
        192
      ],
      "id": "39b05d20-f8e6-44df-ae7b-abbc9d9a9592",
      "name": "FormatChunks"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "dokumente_log",
          "mode": "list",
          "cachedResultName": "dokumente_log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "seitestart": "={{ $json.page_start }}",
            "seiteende": "={{ $json.page_end }}",
            "inhalt": "={{ $json.text }}",
            "titel": "={{ $json.doc_name }}",
            "tag": "={{ $json.tag }}",
            "chunkid": "={{ $json.chunk_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "chunkid",
              "displayName": "chunkid",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "titel",
              "displayName": "titel",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "seitestart",
              "displayName": "seitestart",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "seiteende",
              "displayName": "seiteende",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "inhalt",
              "displayName": "inhalt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tag",
              "displayName": "tag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3536,
        192
      ],
      "id": "f859b6da-b865-4c85-b2d6-29459d8288e9",
      "name": "Chunks into postgre",
      "credentials": {
        "postgres": {
          "id": "98VPq0d6rqsBM90z",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('SetConstants').item.json.doclingBaseUrl }}/chunk/hybrid/file/async",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            },
            {
              "name": "chunking_max_tokens",
              "value": "800"
            },
            {
              "name": "chunking_merge_peers",
              "value": "true"
            },
            {
              "name": "chunking_tokenizer",
              "value": "sentence-transformers/all-MiniLM-L6-v2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2256,
        480
      ],
      "id": "626049d6-0ea5-4eb7-8091-000e742c0539",
      "name": "GetChunks1"
    },
    {
      "parameters": {
        "url": "={{ $('SetConstants').item.json.doclingBaseUrl }}/status/poll/{{$json.task_id}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2464,
        480
      ],
      "id": "8188eabf-dde3-4f5e-89a6-60a2fe14e760",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9293b214-2997-439c-8639-ce697c78e0da",
              "leftValue": "={{ [\"success\", \"done\", \"completed\"].includes($json.task_status) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2672,
        480
      ],
      "id": "d583f3a7-a582-42ce-b4c7-f53d251dd2e6",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6bed4c9a-70c6-4c9c-9b85-c91db60dab91",
              "leftValue": "={{ [\"fail\", \"error\"].includes($json.task_status) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3280,
        656
      ],
      "id": "8356c779-443d-4952-9cad-13ecedb29645",
      "name": "If1"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3504,
        800
      ],
      "id": "fa4b69cd-a366-4cca-83c1-8799a2f8bbd8",
      "name": "Wait",
      "webhookId": "14bd6179-1cab-4754-97de-fa77f8c20a71"
    },
    {
      "parameters": {
        "batchSize": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3808,
        192
      ],
      "id": "adee8ae9-ad42-4020-a651-d081650e9f5e",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/embeddings",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "nomic-embed-text"
            },
            {
              "name": "prompt",
              "value": "={{ $('Chunks into postgre').item.json.inhalt }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4016,
        368
      ],
      "id": "80ef9adb-c334-4cce-9d71-121d35ac92a3",
      "name": "Embeddings1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4592,
        528
      ],
      "id": "52379659-1e2b-4c7b-aa01-f63b26efe045",
      "name": "Wait1",
      "webhookId": "828f9975-a3bd-4902-acef-1c87497b708c"
    },
    {
      "parameters": {
        "url": "={{ $('SetConstants').item.json.doclingBaseUrl }}/result/{{ $('HTTP Request1').item.json.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2992,
        448
      ],
      "id": "3cbdeb42-9bf7-4cb2-b811-f14543e41bf0",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e075c2de-880d-493c-a4a8-e04fcbfeb8b9",
              "name": "paperCount",
              "value": "={{ $('SetConstants').item.json.paperCount +1 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4112,
        176
      ],
      "id": "574a5b09-80b8-4c7c-adc9-c402440f9b65",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "http://qdrant:6333/collections/chunks/points?wait=true",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n  \"points\": [\n    {\n      \"id\": Number($('Chunks into postgre').item.json.id),\n      \"vector\": $json.embedding,\n      \"payload\": { \"chunkid\": $('Loop Over Items1').item.json.chunkid, \"titel\": $('Loop Over Items1').item.json.titel, \"seitestart\": $('Loop Over Items1').item.json.seitestart, \"seiteende\": $('Loop Over Items1').item.json.seiteende, \"text\": $('Loop Over Items1').item.json.inhalt, \"tag\": $('Loop Over Items1').item.json.tag }\n    }\n  ]\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4352,
        432
      ],
      "id": "05d7c2e8-d96f-41e9-a048-3874111c238b",
      "name": "HTTP Request3"
    }
  ],
  "pinData": {},
  "connections": {
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "IsPDF?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "SetConstants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "FormatChunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetConstants": {
      "main": [
        [
          {
            "node": "GetZoteroItems",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetZoteroItems": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IsPDF?": {
      "main": [
        [
          {
            "node": "DownloadPDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GetPDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetPDF": {
      "main": [
        [
          {
            "node": "IsPDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IsPDF": {
      "main": [
        [
          {
            "node": "DownloadPDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DownloadPDF": {
      "main": [
        [
          {
            "node": "IsBig?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IsBig?": {
      "main": [
        [
          {
            "node": "GetChunks1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GetChunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetChunks": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FormatChunks": {
      "main": [
        [
          {
            "node": "Chunks into postgre",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunks into postgre": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetChunks1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Embeddings1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings1": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f68b3fa2-290c-416a-a00d-de3e8326fd4e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2e5c459191bca6972a6ed06a2c5d41835b85727e5281032a4ad737c853e399fa"
  },
  "id": "QrRbDoPV4As6SSlt",
  "tags": []
}